# General configurations
gpu: 0
seed: 42

# Path configurations
dataset_path: 'data'
dataset_name: 'aapm_all_npy_3mm'
output_path: 'output'
log_path: 'log'
# checkpoint_path: 'ckpt'
# checkpoint_file: 'RED_CNN_100_1706748614.pt'     
config_path: 'config'
config_file: ''
model: 'RED_CNN'

# Data configurations
resize: True
patch_size:   # 64
patch_n:      # 10

# Train configurations
num_workers: 4
optim: 'Adam'         # ['SGD', 'Adam', 'AdamW']
scheduler: 'StepLR'   # ['StepLR', 'Cosine']
loss: 'FF'           # ['MSE'] # lambda1 = 0 (FF not used!)
lr: 0.00001
weight_decay: 0.0001
num_epochs: 100
step_size: 1000
batch_size: 8
print_freq: 200
# save_freq: 1

# Metrics configurations
norm_range_min: -1024.0
norm_range_max: 3072.0
trunc_min: -160.0   # 区间
trunc_max: 240.0

